.embla__web--wrapper .embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: fit-content;
  --slide-spacing: 0.5rem;
  --slide-size: 55%;
}
.embla__web--wrapper .embla__viewport {
  overflow: hidden;
  padding: 1rem;
  position: relative;
}
.embla__web--wrapper .embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  width: fit-content;
}
.embla__web--wrapper .embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
}

.embla__web--wrapper .embla__slide__number {
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  user-select: none;
  margin-left: -50px;
}
.embla__web--wrapper .embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
}
.embla__web--wrapper .embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__web--wrapper .embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__web--wrapper .embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__web--wrapper .embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__web--wrapper .embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__web--wrapper .embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__web--wrapper .embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__web--wrapper .embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}
.embla__web--wrapper .embla__slide__number {
  backface-visibility: hidden;
}

/* .not--selected {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
} */

/* 
  const updateSlideStyles = useCallback(() => {
    if (!emblaApi) return;

    const slides = emblaApi.slideNodes(); 
    const centerSlideIndex = emblaApi.selectedScrollSnap(); 

    slides.forEach((slide, index) => {
      if (index === centerSlideIndex) {
        slide.classList.remove('not--selected');
      } else {
        slide.classList.add('not--selected'); 
        
      }
    });
  }, [emblaApi]);

  useEffect(() => {
    if (emblaApi) {
      emblaApi.on('select', updateSlideStyles); 
      updateSlideStyles(); 
    }
  }, [emblaApi, updateSlideStyles]);
*/

.left-rectangle {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100px;
  height: 60%;
  background: transparent;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.right-rectangle {
  position: absolute;
  top: 20%;
  right: 0;
  width: 100px;
  height: 60%;
  background: transparent;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}
